.sec
	padding: 45px 0 
	&--small
		padding-bottom: 0px 
	&--bottom 
		padding-top: 0 
		padding-bottom: 90px
	&--line 
		padding: 90px 0
	
	+bp($bp-large)
		padding: 33px 0 
		&--small
			padding-bottom: 5px 
		&--bottom 
			padding-top: 0 
			padding-bottom: 66px
		&--line 
			padding: 66px 0
	
	+bp($bp-tablet)
		padding: 25px 0 
		&--small
			padding-bottom: 5px 
		&--bottom 
			padding-top: 0 
			padding-bottom: 50px
		&--line 
			padding: 50px 0
	
	+bp($bp-small)
		padding: 18px 0 
		&--small
			padding-bottom: 5px
		&--line 
			padding: 36px 0

.banner-grid
	padding-top: 15px 
	padding-bottom: 45px 
	&__part 
		display: flex 
	&__left 
		width: 66.2% 
		margin-right: 20px
		flex-shrink: 0
	
	+bp($bp-medium)
		&__part 
			display: block 
		&__left 
			width: 100%
			margin: 0 0 15px 0
	
	+bp($bp-small2)
		padding-top: 5px
		padding-bottom: 18px
		width: calc(100% + 24px)
		margin-left: -12px
		&__left 
			margin: 0 0 6px 0

	
	
.products
	&__container 
		overflow: hidden
		margin-left: -20px
		width: calc(100% + 40px) 
	&__slider
		padding: 0 20px
		position: relative
		width: 100%
		position: relative
		z-index: 2
		padding-bottom: 25px

	&__item 
		display: inline-block 
		width: auto 
		margin-right: 20px

	&__tab 
		display: flex 
		padding: 0 20px
	&__title
		margin-right: 36px
		cursor: pointer
		border-bottom: 1px dashed transparent
		&.is-active 
			color: $blue 
			border-color: $blue
	
	+bp(800px)
		&__slider
			max-width: 80%

			.slider-arrow
				display: none
	
	+bp($bp-tablet)
		&--action
			display: none

	+bp($bp-small)
		&__slider
			max-width: 100%
		&__swiper-wrapper
			transform: none !important
			display: grid 
			grid-template-columns: repeat(2, 1fr)
			grid-column-gap: 10px 
			grid-row-gap: 15px
		&__item 
			margin: 0 
			display: none 
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4)
				display: block
		&__title
			margin-right: 20px

		

	
.js-tab__block 
	.swiper-wrapper
		height: 0px 
		pointer-events: none 
		opacity: 0 
	.slider-arrow
		opacity: 0 
		pointer-events: none
	&.is-active
		.swiper-wrapper
			pointer-events: auto
			opacity: 1
			height: auto
		.slider-arrow
			opacity: 1
			pointer-events: auto

.category 
	&__list 
		display: flex 
		flex-wrap: wrap 
		margin: 0 -10px 
		+bp($bp-tablet)
			margin: 0 -3px
	&__item 
		width: 33.33%
		padding: 0 10px
		margin: 0px 0 20px 0

		&--w50 
			+bp(993px, 'min')
				width: 50%

			.b-category 
				+bp(1201px, 'min')
					padding-right: 75px
					padding-bottom: 45px

				+bp(1401px, 'min')
					height: 320px

		+bp($bp-medium)
			width: 50%
			order: 3
			&:first-child 
				width: 100%
				order: 1 
			&:nth-child(3)
				order: 2
		+bp($bp-tablet)
			padding: 0 3px
			margin-bottom: 6px
		+bp($bp-small)
			width: 100%
			&:nth-child(2)
				.b-category__mobile-foil
					background-image: url('../images/c-4-mobile.jpg') !important
			&:nth-child(3)
				.b-category__mobile-foil
					background-image: url('../images/c-3-mobile2.jpg') !important
			&:nth-child(1)
				.b-category__mobile-foil
					background-image: url('../images/c-1-mobile2.jpg') !important

.settings 
	+foil 
	background-image: url('../images/set-foil.jpg')
	color: $white 
	position: relative
	&:before 
		content: ''
		width: 713px 
		height: 480px 
		+foil 
		background-image: url('../images/rounds.svg')
		position: absolute 
		top: 0 
		left: 39% 
	&__block 
		max-width: 450px
		padding-top: 9%
		position: relative
		z-index: 2
	&__part 
		display: flex 
		justify-content: space-between 
	&__image
		padding-top: 50px
		position: relative
		z-index: 1
	&__name
		display: block
		text-transform: uppercase 
		letter-spacing: 0.75px
		margin-bottom: 20px
		font-size: rem(15px)
	&__title
		font-weight: 500
	
	+bp($bp-large2)
		&__block 
			padding-top: 6%
	
	+bp($bp-large3)
		&__image 
			padding-top: 120px
	
	+bp($bp-medium)
		&:before 
			left: 54%
		&__part 
			display: block
		&__image 
			margin-top: -5% 
			padding-top: 0
			margin-right: -50px
		&__block 
			padding-top: 80px
	
	+bp($bp-small)
		&__block 
			padding-top: 40px
		&__image 
			margin-top: 30px
			width: calc(100% + 140px)
			margin-left: -80px
		&__title
			font-size: rem(22px)
		&__name
			font-size: rem(12px)

.services 
	padding-top: 20px
	&__grid 
		display: grid 
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 20px
	
	+bp($bp-tablet)
		padding-top: 15px
		&__grid 
			grid-gap: 15px
	
	+bp($bp-small2)
		&__grid 
			display: block

.videos 
	background-color: $gray2
	&__slider 
		position: relative
		.b-video:first-child
			grid-column: 1/3
			grid-row: 1/3
			+bp($bp-large2)
				display: flex 
				flex-wrap: wrap 
				.b-video__block-image 
					flex-grow: 1 
	&__slide 
		display: grid 
		grid-template-columns: repeat(4, 1fr)
		grid-column-gap: 20px
		grid-row-gap: 33px
	&__container 
		overflow: hidden
	
	+bp($bp-large)
		&__slide
			grid-row-gap: 20px
	
	+bp(850px)
		&__slide
			grid-template-columns: repeat(3, 1fr)
			.b-video
				&:nth-child(3),
				&:nth-child(5)
					display: none
	
	+bp($bp-small)
		&__slide 
			display: block
		
		.slider-arrow
			display: none

.news 
	&__container 
		overflow: hidden
	&__slider
		position: relative
	
	+bp($bp-medium)
		.wrapper 
			padding-right: 0
		&__slider
			width: 75%
		&__arrow 
			display: none

.vending 
	color: $white 
	+foil 
	background-image: url('../images/v-foil.jpg')
	&__grid 
		padding: 40px 0 
		display: grid 
		grid-template-columns: repeat(4, 1fr)
		grid-gap: 40px
	
	+bp($bp-large)
		&__grid
			grid-gap: 20px
			padding: 30px 0

	+bp($bp-medium)
		&__grid
			grid-template-columns: repeat(2, 1fr)

	+bp($bp-small2)
		&__grid
			grid-template-columns: repeat(1, 1fr)
			padding: 15px 0

.siba-vending
	background-color: $blue 
	color: $white
	position: relative
	overflow: hidden
	&:after 
		content: ''
		width: 242px 
		height: 160px 
		+foil 
		position: absolute 
		bottom: 0 
		right: 0
		background-image: url('../images/decor-2.svg')
	&:before 
		content: ''
		width: 120px 
		height: 218px 
		+foil 
		position: absolute 
		top: 40px 
		left: 28px
		background-image: url('../images/decor-1.png')
		+bp(1700px)
			display: none
	&__top 
		display: flex 
		justify-content: space-between
	&__top-desc
		max-width: 827px
		margin-right: 40px
	&__title
		max-width: 680px
	&__desc
		margin-top: 100px
		display: flex 
		justify-content: space-between
		align-items: center
	&__grid 
		max-width: 800px 
		width: 100% 
		display: grid 
		grid-row-gap: 30px
		grid-column-gap: 30px
		grid-template-columns: repeat(3, 1fr)
		margin-left: 40px
	&__r 
		border-radius: 9px 
		overflow: hidden
		position: relative 
		z-index: 2 
	&__image 
		position: relative 
		&:after 
			content: ''
			width: 476px
			height: 476px 
			+foil 
			background-image: url('../images/rounds3.svg')
			position: absolute 
			left: 40%
			top: -30px
	&__left 
		position: relative
		&:after 
			content: ''
			width: 574px
			height: 574px 
			+foil 
			background-image: url('../images/rounds4.svg')
			position: absolute 
			left: -49%
			top: 30px
	
	+bp($bp-large)
		&__desc 
			margin-top: 40px
	
	
	+bp($bp-medium)
		&__r 
			display: none
		
		&__top-desc 
			margin-right: 0
			max-width: 100% 
		
		&__grid 
			max-width: 100%
			margin-left: 0
		
		&__left 
			&:after 
				left: -200px 
				top: -100px
		&__image 
			&:after 
				left: -120px
	
	+bp($bp-small2)
		&__grid 
			display: block
		&__left 
			&:after 
				display: none
		&:after 
			display: none
		
		&__image 
			&:after 
				left: -220px
				top: -250px
		
		&__desc 
			margin-top: 15px




				
			
		

	
	
			