.repair 
  padding-bottom: 120px
  padding-top: 6px

  .wrapper
    display: flex
    align-items: self-start
    gap: 10px

    @media (max-width: 1099px)
      flex-direction: column
      align-items: center


.repair__img
  padding-bottom: 30px
  position: relative
  img
    max-width: 100%

.magnify-wrapper
  position: absolute
  width: calc(100% - 100px)
  height: calc(100% - 100px)
  z-index: 2
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
.magnify 
  position: relative
  max-width: 100%
  width: 520px
.glass
    position: absolute
    display: none
    pointer-events: none
    border-radius: 300px
    border: 2px solid $white
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.24), 0px 3px 10px 0px rgba(0, 0, 0, 0.10)
    z-index: 5

.repair__title
  font-size: 40px
  font-style: normal
  font-weight: 500
  line-height: 140%
  letter-spacing: 1.2px
  margin-bottom: 24px

  @media (max-width: 585px)
    font-size: 30px
    font-style: normal
    font-weight: 500
    line-height: 110%
    letter-spacing: 0.9px
    margin-bottom: 20px

.repair-list
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 10px

  @media (max-width: 1280px)
    grid-template-columns: repeat(2, 1fr)

  @media (max-width: 579px)
    grid-template-columns: 1fr



//popup

.popup-goods__content 
  overflow-y: auto
  padding: 70px 60px
  background-color: #fff
  border-radius: 7px
  box-shadow: 0px 18px 90px 0px rgba(0, 39, 83, 0.15), 0px 4px 7px 0px rgba(0, 39, 83, 0.03)
  width: 1136px
  position: relative
  position: fixed
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  z-index: 3

  @media (max-width: 1280px) 
    width: calc(100% - 40px)
  
  @media (max-width: 850px) 
    padding: 50px 10px
    max-height: 100%
    width: 100%
  
.popup-goods__close 
  cursor: pointer
  position: absolute
  right: 10px
  top: 10px

.popup-goods__title 
  font-size: 40px
  font-style: normal
  font-weight: 500
  line-height: 140% /* 56px */
  letter-spacing: 1.2px
  color: #252525
  padding-bottom: 24px

  @media (max-width: 400px) 
    font-size: 30px
    font-style: normal
    font-weight: 500
    line-height: 110%
    padding-bottom: 20px
  


.popup-goods__list 
  display: flex
  flex-direction: column


.popup-goods__item 
  display: flex
  justify-content: space-between
  align-items: center
  padding: 37px 40px
  cursor: pointer
  border: 1px solid #d9e6f4
  position: relative
  max-height: 100vh

  @media (max-width: 850px) 
    flex-direction: column
    padding: 20px 30px 20px 20px
  

  @media (max-width: 400px) 
    padding: 20px
  

  @media (hover: hover) 
    &:hover 
      background: #f2f5f7
    
  

  &:first-child 
    border-radius: 7px 7px 0px 0px
    border: 1px solid #d9e6f4
  

  &:last-child 
    border-radius: 0px 0px 7px 7px
    border: 1px solid #d9e6f4
  

  @media (max-width: 500px) 
    &:first-child 
      border-radius: 0px
      border: 1px solid #d9e6f4
    

    &:last-child 
      border-radius: 0px
      border: 1px solid #d9e6f4
    
  


.popup-goods__item-wrapper 
  @media (max-width: 850px) 
    width: 100%
    order: 2
    padding-top: 15px
  
.popup-goods__item-name
    font-size: 15px
    font-style: normal
    font-weight: 500
    line-height: 130%
    letter-spacing: 0.45px
    color: #252525

  
.popup-goods__item-articul
    font-size: 12px
    font-style: normal
    font-weight: 400
    line-height: normal
    letter-spacing: 0.36px
    color: #878d93
    margin-top: 3px
  
.popup-goods__item-price
    font-size: 15px
    font-style: normal
    font-weight: 500
    line-height: 130%
    letter-spacing: 0.45px
    color: #252525

  
.popup-goods__item-price-old
    font-size: 12px
    font-style: normal
    font-weight: 400
    line-height: normal
    letter-spacing: 0.36px
    color: #878d93
    margin-top: 3px
  


.popup-goods__item-country 
  font-size: 12px
  font-style: normal
  font-weight: 400
  line-height: normal
  letter-spacing: 0.36px
  color: #252525


.popup-goods__item-production 
  padding: 6px 9px
  color: #0057b8
  border-radius: 5px
  background: #e5eef8

  &--original 
    color: #ff671f
    background: #ffede4
  


.popup-goods__wrapper 
  display: flex
  gap: 10px
  align-items: center
  justify-content: start


  @media (max-width: 1280px) 
    flex-direction: column
    align-items: center
  

  @media (max-width: 850px) 
    flex-direction: row-reverse
    width: 100%
  

  .popup-goods__wrapper::nth-child(1) 
    display: flex
    flex-direction: row
  

  .popup-goods__wrapper::nth-child(2) 
    @media (max-width: 850px) 
      order: 10
    
  


@media (max-width: 1280px) 
  .popup-goods__counter 
    display: none
  


.popup-goods__btn 
  display: flex
  align-items: center
  gap: 8px
  border-radius: 7px
  background: #0057b8
  font-size: 13px
  font-style: normal
  font-weight: 500
  line-height: 140% /* 18.2px */
  letter-spacing: 0.39px
  text-transform: uppercase
  color: #fff
  border: none
  padding: 8px 20px

  @media (max-width: 850px) 
    position: absolute
    width: 40px
    height: 40px
    bottom: 20px
    right: 20px
    padding: 0
    gap: 0
    display: flex
    align-items: center
    justify-content: center
    span 
      display: none
  
.popup-goods__item-innerwrapper 
  display: flex
  gap: 59px
  


  