mixin counter()
  .counter.js-counter&attributes(attributes)
    .counter__item.js-counter-sub
    .counter__item
      //- .counter__value.js-counter-value 1
      input.counter__input.js-counter-input(title='number', value='1')
    .counter__item.js-counter-add