.link,a
	display: inline
	color: inherit
	font-size: inherit 
	line-height: inherit
	text-decoration: none
	transition: color 0.4s ease
	outline: none
	font-weight: 400
	
	&:hover
		color: $blue
	
	&--default 
		color: $baseTxt 
		&:hover 
			color: $blue
	
	&--bor 
		position: relative  
		display: inline
		transition: border 0.45s ease-in-out
		border-bottom: 1px solid $baseTxt
		&:hover 
			border-color: transparent
	
	&--bor-white
		color: $white
		border-color: transparent
		&:hover 
			color: $white
			border-color: rgba(255,255,255,0.4)
			
	
	&--white-mark 
		font-weight: 500 
		color: $white
		letter-spacing: 0.42px
		font-size: rem(21px)
		&:hover 
			color: $white
	
	&--white 
		&:after
			transform: scale(0)
		&:hover
			&:after
				transform: scale(1)
		
	&--arrow
		display: inline-flex
		align-items: center
		
		svg
			margin: 0 5px 0 0
			width: 24px
			height: 24px
			fill: transparent 
			transition: 0.35s ease 
			stroke-width: 1.2px
			stroke: $baseTxt
		
		&:hover 
			color: $blue
			svg 
				stroke: $blue
	
	&--gray 
		color: $gray6
	
	&--upper 
		text-transform: uppercase 
		letter-spacing: 0.75px
		font-weight: 500
		color: $blue 
		&:after 
			bottom: -4px
			height: 1px 
			background-color: $blue
			opacity: 1

	&--blue-bor 
		text-decoration: underline 
		color: $blue 
		&:hover 
			text-decoration: none
		

	
	+bp($bp-large)
		&--white-mark
			font-size: rem(18px)
	
	+bp($bp-medium)
		&--arrow 
			svg 
				width: 18px
				height: 18px

		&--white-mark
			font-size: rem(13px)
	
	+bp($bp-small)		
		&--white-mark
			font-size: rem(8px)

