extends pug/base
include components/b-video/b-video
include components/breadcrumbs/breadcrumbs

append vars
	- title = 'Текстовая страница'

block content

	+breadcrumbs([
		'Каталог',
		'Венддинговые автоматы',
		'Снековые вендинговые автоматы'
	])

	section.article.article--paddings.sec
		.wrapper
			.article__article-image-block.article-image-block
				img(src="images/article_image.jpg").article-image-block__img
				h1.article-image-block__title Как начать вендинговый бизнес и не попасть в ловушку иллюзий

			.article__section 
				h3 В России рынок вендингового бизнеса в начале своего развития и имеет большой потенциал для роста.
				p
					| Понятие «вендинг» вошло в наш обиход не так давно, но прочно укоренилось. Для нас уже не является чем-то новым стоящие повсеместно 
					a(href="#").link.link--bor автоматы по продаже напитков, снеков
					|. Люди привыкли и оценили удобство использования автоматизированной торговли. По сути, через 
					a(href="#").link.link--bor вендинговое оборудование 
					| может быть реализован любой вид товаров и ряд услуг. В нашей стране самым популярным и востребованным является кофейное и снековое направление. Поэтому мы рекомендуем начало своего вендингового дела с этих направлений.

			.article__section 
				.title Почему стоит заняться вендингом
			.article__section 
				ol.article-list.article-list--horizontal.article-list--small
					li.article-list__item
						.article-list__title Автономность
						.article-list__text Автономность и работа оборудования, круглые сутки без постоянного присутствия человека позволяет избежать лишних издержек на персонал.
					li.article-list__item
						.article-list__title Легкое обслуживание
						.article-list__text Обслуживание автомата простое, не требующее много времени и сверх навыков. Вы быстро обучитесь обслуживанию при покупке автомата.
					li.article-list__item
						.article-list__title Минимальные риски
						.article-list__text Вендинг – мобильный бизнес с минимальными рисками. В случаи установки автомата в нерентабельной точке, его можно легко переставить.
					li.article-list__item
						.article-list__title Небольшие затраты
						.article-list__text Небольшие затраты на установку и обслуживание одной точки позволяют легко развивать и масштабировать Ваш бизнес.
					li.article-list__item
						.article-list__title Низкая конкуренция
						.article-list__text Появление автоматов со стаканом формата «кофе с собой» открывает дополнительные возможности развития и роста.
					li.article-list__item
						.article-list__title Антикризисность
						.article-list__text В сложной финансовой ситуации люди могут отказаться от дорогостоящих покупок, но могут позволить себе купить стакан кофе.

			.article__section 
				blockquote.article__quote: h4 При грамотном и обдуманном подходе успех развития Вашего дела обеспечен. Вендинг — сетевой бизнес и «игра в долгую».

			.article__section 
				p Развивая сеть, считается общая прибыль со всех установленных автоматов. Так Вы сможете компенсировать возможные сезонные просадки одних точек или сократить затраты на обслуживание установив несколько автоматов в пределах одного бизнес центра или соседних зданиях.
			.article__section 
				.article__warning.article__warning--large А если у вас один автомат, то чистая прибыль составит порядка 20 тысяч в месяц. Вряд ли такой доход — это то, что вы ожидаете от бизнеса. Обычно, один-два автомата устанавливают новички, которые только вступают в этот бизнес, чтобы ощутить все плюсы и минусы, а также научится работать в нём, чтобы чувствовать себя как «рыба в воде», но делают это с перспективой на дальнейшее развитие. Таким образом, чтобы начать развивать свою, хоть и не большую вендинговую сеть вам понадобиться стартовый капитал порядка 1млн. руб.

			br
			.article__section
				.title Принцип сети
				+b-video({
					cl: 'js-popup-link b-video--inner',
					link: 'video', 
					url: 'https://www.youtube.com/embed/hFj5L6sbX-o',
					img: 'products/v-1.jpg', 
					play: true
				})

			br
			.article__section.article__section--small 
				.title Этапы старта вендингового бизнеса
				p 1. Регистрация в ФНС.
				p 2. Изучение и выбор оборудования и ингредиентов.
				p 3. Изучение и выбор поставщиков.
				p 4. Поиск места расположения.
				p 5. Покупка оборудования.
				p 6. Обслуживание оборудования и аналитика.

			br
			.article__section 
				.title Этапы старта вендингового бизнеса
			
			.article__section 
				.article__section-title 
					+svg('bank')
					span Регистрация в фнс
				p Для начала бизнеса вам обязательно необходимо зарегистрировать ИП или ООО. С 2018 г. все торговые точки должны быть оборудованы ККТ (контрольно кассовым терминалом), а он в свою очередь регистрируется в налоговом органе.

			.article__section 
				.article__section-title 
					+svg('bank')
					span Изучение и выбор оборудования и ингредиентов
				p 
					| Хорошо изучите рынок торговых автоматов, ознакомьтесь с производителями и предлагаемыми моделями. Посмотрите автоматы в живую и только потом выбирайте 
					a(href="#").link.link--bor оборудование
					| , с которым вы будете работать.

			.article__section 
				.article__section-title 
					+svg('bank')
					span Изучение и выбор поставщиков
				p 
					| Вам обязательно стоит лично посетить офисы продавцов и пообщаться с ними, ведь если Вы согласитесь на их условия, Вам придется сотрудничать долго и достаточно часто. Хороший продавец не просто продает автоматы, в дальнейшем он должен оказать Вам необходимую поддержку и обучение обслуживанию, 
					a(href="#").link.link--bor снабжать запчастями
					|  и 
					a(href="#").link.link--bor ингредиентами
					|, консультировать по вопросам обслуживания и ремонта.
			
			.article__section 
				.article__section-title 
					+svg('bank')
					span Поиск места расположения
				p Для установки оборудования, Вам необходимо найти локации для его размещения. Лучше подобрать несколько мест под установку и подписать договоры, ведь купить автомат Вы успеете всегда, а вот найти место под установку для него гораздо сложнее.

			.article__section 
				.article__section-title 
					+svg('bank')
					span Покупка оборудования
				p 
					| Имея место под установку можно и приобрести выбранный 
					a(href="#").link.link--bor автомат и ингредиенты
					|  для него. Если Вы следуете по описанным этапам, то уже определились с выбором оборудования, поставщика и Вам не составит труда сделать закупку. 

			br
			.article__section 
				.title Как считать затраты и окупаемость
				.table-wrapper: table.article-table
					thead: tr 
						td Статья затрат
						td Сумма в месяц, ₽
						td Сумма в год, ₽
					tr 
						td Покупка автомата
						td - 
						td 250 000
					tr 
						td Ингредиенты
						td 13 000 
						td 156 000
					tr 
						td Налоги 18%
						td 3 000 
						td 36 000
					tr 
						td Прочие расходы
						td 6 000
						td 72 000
					tr 
						td: b Итого
						td: b 22 000
						td: b 514 000

			br
			br
			.article__section 
				.article__warning.article__warning--large Мы своей целью ставим развитие вендинговой отрасли. Поэтому нам важен осознанный подход к построению бизнеса начинающими вендорами. Мы делимся накопленным опытом со своими партнерами. Помогаем подбирать подходящее 
					a(href="#").link.link--bor оборудование и ингредиенты.

			br
			.article__section 
				.title Полезная информация
				.article__videos
					+b-video({
						cl: 'js-popup-link',
						link: 'video', 
						url: 'https://www.youtube.com/embed/hFj5L6sbX-o',
						img: 'products/v-1.jpg', 
						title: 'Новинка в ассортименте: Капсулы EP Aroma Club', 
						date: '26 июня 2023',
						play: true
					})
					+b-video({
						cl: '',
						link: 'video', 
						url: 'https://www.youtube.com/embed/hFj5L6sbX-o',
						img: 'products/v-2.jpg', 
						title: 'Новинка в ассортименте: Капсулы EP Aroma Club', 
						date: '26 июня 2023',
					})

			br
			.article__section 
				.title Причины заняться вендингом
				ul 
					li Автономность и работа оборудования, круглые сутки без постоянного присутствия человека позволяет избежать лишних издержек на персонал.
					li Обслуживание автомата простое, не требующее много времени и сверх навыков. Вы быстро обучитесь обслуживанию при покупке автомата.
					li Вендинг – мобильный бизнес с минимальными рисками. В случаи установки автомата в нерентабельной точке, его можно легко переставить.
					li Небольшие затраты на установку и обслуживание одной точки позволяют легко развивать и масштабировать Ваш бизнес.