extends pug/base
include components/repair-item/repair-item


append vars
	- title = 'Карточка товара'

block content
	.breadcrumbs
		.wrapper 
			.breadcrumbs__list
				a.link.breadcrumbs__link(href='#!') Каталог
				a.link.breadcrumbs__link(href='#!') Запчасти и ремонт
				a.link.breadcrumbs__link.breadcrumbs__link--current(href='#!') Снековые вендинговые автоматы
	.repair
		.wrapper
			.repair__img
				img(class="magnify-img" src='images/repair_img.png' alt='схема кофемашины')
			.repair-content 
				.repair__title Диспенсер стаканов для CANTO
				.repair-list 
					+repairItem({
						number: '1',
						articul: '142 364',
						name: 'Диспенсер стаканов в сборе CANTO (Диспенсер стаканов)',
						price: '23 932 ₽',
						oldprice: '277 €',
						sale: 1
					})
					+repairItem({
						number: '1',
						articul: '142 364',
						name: 'Диспенсер стаканов в сборе CANTO (Диспенсер стаканов)',
						price: '23 932 ₽',
						oldprice: '277 €',
						sale: 1
					})
					+repairItem({
						number: '1',
						articul: '142 364',
						name: 'Диспенсер стаканов в сборе CANTO (Диспенсер стаканов)',
						price: '23 932 ₽',
						oldprice: '277 €',
						sale: 0
					})
					+repairItem({
						number: '1',
						articul: '142 364',
						name: 'Диспенсер стаканов в сборе CANTO (Диспенсер стаканов)',
						price: '23 932 ₽',
						oldprice: '277 €',
						sale: 0
					})
					+repairItem({
						number: '1',
						articul: '142 364',
						name: 'Диспенсер стаканов в сборе CANTO (Диспенсер стаканов)',
						price: '23 932 ₽',
						oldprice: '277 €',
						sale: 0
					})
					+repairItem({
						number: '1',
						articul: '142 364',
						name: 'Диспенсер стаканов в сборе CANTO (Диспенсер стаканов)',
						price: '23 932 ₽',
						oldprice: '277 €',
						sale: 0
					})
					+repairItem({
						number: '1',
						articul: '142 364',
						name: 'Диспенсер стаканов в сборе CANTO (Диспенсер стаканов)',
						price: '23 932 ₽',
						oldprice: '277 €',
						sale: 0
					})
					+repairItem({
						number: '1',
						articul: '142 364',
						name: 'Диспенсер стаканов в сборе CANTO (Диспенсер стаканов)',
						price: '23 932 ₽',
						oldprice: '277 €',
						sale: 0
					})
					+repairItem({
						number: '1',
						articul: '142 364',
						name: 'Диспенсер стаканов в сборе CANTO (Диспенсер стаканов)',
						price: '23 932 ₽',
						oldprice: '277 €',
						sale: 0
					})


