extends pug/base

append vars
	- title = 'Оплата и доствавка'

block content

	.wrapper
		section.article.shipping-page.sec
			h1 Оплата и доставка

			.tabs.shipping-page__tabs
				.tabs__list
					a(href="shipping.html").tabs__btn.is-active Оплата и доставка
					a(href="warranty.html").tabs__btn Гарантия и сопровождение
				.tabs__content-wrapper
					.tabs__content-tab.is-active

						.shipping-options
							.shipping-options__column
								.article__section-title
									+svg('truck')
									span По москве и подмосковью
								.shipping-options__description
									p Доставка до 15 км. от МКАД бесплатно
									p Стоимость заказа не менее 15 000 ₽ и кратна коробкам
									p Доставка осуществляется собственным автопарком компании СИБА-Вендинг
							.shipping-options__column
								.article__section-title
									+svg('box')
									span По всей России
								.shipping-options__description
									p Осуществляется по средствам транспортных компаний
									p Доставка груза до транспортных компаний бесплатно:
									ul 
										li «ПЭК», «Деловые линии» от 1 коробки
										li «Желдорэкспедиция», «КИТ» при заказе от 15 000 ₽ 
										li Другие транспортные компании при заказе от 50 000 ₽
									p Стоимость перевозки транспортной компанией оплачивается клиентом по отдельному счету в соответствии с тарифами грузоперевозчика в вашем регионе
							.shipping-options__column
								.article__section-title
									+svg('house')
									span Самовывоз со склада
								.shipping-options__description
									p Склад расположен по адресу: Москва, 4-й Лихачевский переулок, 4с2
									p 
										a.link.link--bor(href="#") Показать на карте
								

						.article__section
							h2 Способы оплаты
							p Для вашего удобства, у нас предусмотрены различные способы оплаты. Выберете подходящий: 

						.article__section
							.article__section-title 
								+svg('courier')
								span Наличными при получении
							p Курьер доставит вам товар по указанному адресу и в удобное для вас время. На привезенный товар мы предоставим товарный чек и документацию. Данный способ оплаты подойдет для Москвы и Подмосковья

						.article__section
							.article__section-title  
								+svg('card')
								span Банковская карта
							p Для удобной оплаты банковской картой используется система электронных платежей. При оформлении заказа выберите способ оплаты с помощью карт Visa, Mastercard или МИР, после чего вы перейдете на страницу безопасного платежа.

						.article__section
							.article__section-title  
								+svg('bank')
								span Банковский перевод
							p Для осуществления платежа банковским переводом менеджер выставит счет с выбранными товарами и вышлет на вашу электронную почту. Данный способ оплаты по банковским реквизитам компании предусмотрен как для физических, так и для юридических лиц.

						.article__section.article__warning Важно. Мы проводим регулярные акции и формируем наиболее выгодные предложения для покупателей. Поэтому действие промокодов не распространяется на акционные товары и продукцию, участвующую в специальных предложениях. Также их не получится оформить с бесплатной доставкой и в рассрочку.