extends pug/base

append vars
	- title = 'Оплата и доствавка'

block content

	.wrapper
		section.article.shipping-page.sec
			h1 Гарантия и сопровождение

			.tabs.shipping-page__tabs
				.tabs__list
					a(href="shipping.html").tabs__btn Оплата и доставка
					a(href="warranty.html").tabs__btn.is-active Гарантия и сопровождение
				.tabs__content-wrapper
					.tabs__content-tab.is-active

						.article__section
							h2 Гарантия
							ol(type="1").article__article-list.article-list  
								li.article-list__item На все проданное оборудование (автоматы, платежные системы, кофемашины) предоставляется гарантия 1 год
								li.article-list__item При обнаружении недостатков комплектующего изделия гарантийному ремонту или замене подлежит только это комплектующее изделие
								li.article-list__item В сервисный центр может быть предоставлена только сломанная деталь, нет необходимости доставлять автомат полностью
								li.article-list__item Доставка оборудования или его отдельных частей на гарантийный ремонт и обратно осуществляется за счет покупателя
								li.article-list__item Срок устранения недостатков оборудования и поставки запчастей в гарантийный и постгарантийный период составляет не более 30 дней с момента его предоставления в сервисный центр
								li.article-list__item После окончания срока гарантии ремонт и замена запчастей осуществляются за счет покупателя

						.article__section
							h2 Ремонт
							p В компании СИБА-Вндинг вы можете произвести диагностику, настройку или ремонт: торговых автоматов производителей Necta, Bianchi, Fas; капсульных кофемашин для капсул Lavazza BLUE и Espresso Point; платежных систем производителей ICT, FAGE, MEI, NRI

						.article__section
							.article__section-title 
								+svg('card')
								span Основные виды работ в платежных системах
							p Диагностика, тестирование, чистка, ремонт, установка, замена, обновление ПО

						.article__section
							.article__section-title  
								+svg('cup')
								span Основные виды работ в капсульных кофемашинах
							p Диагностика, чистка, ремонт, установка, замена любых деталей кофемашины

						.article__section
							.article__section-title  
								+svg('beans')
								span Основные виды работ в кофейных аппаратах
							p Диагностика, программирование работы аппарата
							p Чистка, замена, ремонт деталей гидросистемы
							p Чистка, установка, ремонт диспенсеров сахара, размешивателей, стаканов
							p Чистка, замена, установка деталей корпуса
							p Чистка, замена, установка, ремонт деталей кофейной группы
							p Чистка, замена, установка, ремонт деталей миксеров и контейнеров
							p Программирование, обновление ПО, замена, ремонт, установка деталей электрики автомата

						.article__section
							.article__section-title  
								+svg('croissant')
								span Основные виды работ в снековых аппаратах
							p Диагностика, замена, ремонт полок и спиралей
							p Чистка, диагностика, замена, ремонт, установка деталей систем охлаждения
							p Программирование, замена, ремонт, установка деталей электрики автомата
							p Основные запчасти, часто выходящие из строя, имеются в наличии на складе
							p За более подробной информацией и стоимостью услуг обращайтесь в отдел продаж по номеру телефона +7(495)120-81-37 (доб.110 и 150) (меняем в зависимости от города)
