include ../../../components/popup/popup
include ../../../components/counter/counter

+popup({type: 'popup-goods', staticPopup: true})#popup-goods
  .popup-goods__content
    h2.popup-goods__title Диспенсер стаканов для CANTO
    .popup-goods__list
      .popup-goods__item
        .popup-goods__item-wrapper
          .popup-goods__item-name Выключатель выброса стакана CANTO
          .popup-goods__item-articul Артикул 142 364
        .popup-goods__item-wrapper
          .popup-goods__item-price 23 932 ₽
          .popup-goods__item-price-old 277 €
        .popup-goods__wrapper
          .popup-goods__item-country Корея
          .popup-goods__item-production.popup-goods__item-production--original Оригинал
            | 
        .popup-goods__wrapper
          .popup-goods__counter
            +counter({val: 1})
          button.popup-goods__btn
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
              rect(x='4' y='7' width='16' height='13' rx='4' stroke='white' stroke-width='1.5')
              path(d='M16 10V6C16 3.79086 14.2091 2 12 2V2C9.79086 2 8 3.79086 8 6L8 10' stroke='white' stroke-width='1.5' stroke-linecap='round')
            span в корзину
      .popup-goods__item
        .popup-goods__item-wrapper
          .popup-goods__item-name Выключатель выброса стакана CANTO
          .popup-goods__item-articul Артикул 142 364
        .popup-goods__item-wrapper
          .popup-goods__item-price 23 932 ₽
          .popup-goods__item-price-old 277 €
        .popup-goods__wrapper
          .popup-goods__item-country Корея
          .popup-goods__item-production Реплика
        .popup-goods__wrapper
          .popup-goods__counter
            +counter({val: 1})
          button.popup-goods__btn
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
              rect(x='4' y='7' width='16' height='13' rx='4' stroke='white' stroke-width='1.5')
              path(d='M16 10V6C16 3.79086 14.2091 2 12 2V2C9.79086 2 8 3.79086 8 6L8 10' stroke='white' stroke-width='1.5' stroke-linecap='round')
            span в корзину
      .popup-goods__item
        .popup-goods__item-wrapper
          .popup-goods__item-name Выключатель выброса стакана CANTO
          .popup-goods__item-articul Артикул 142 364
        .popup-goods__item-wrapper
          .popup-goods__item-price 23 932 ₽
          .popup-goods__item-price-old 277 €
        .popup-goods__wrapper
          .popup-goods__item-country Индонезия
          .popup-goods__item-production Реплика
        .popup-goods__wrapper
          .popup-goods__counter
            +counter({val: 1})
          button.popup-goods__btn
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
              rect(x='4' y='7' width='16' height='13' rx='4' stroke='white' stroke-width='1.5')
              path(d='M16 10V6C16 3.79086 14.2091 2 12 2V2C9.79086 2 8 3.79086 8 6L8 10' stroke='white' stroke-width='1.5' stroke-linecap='round')
            span в корзину
      .popup-goods__item
        .popup-goods__item-wrapper
          .popup-goods__item-name Выключатель выброса стакана CANTO
          .popup-goods__item-articul Артикул 142 364
        .popup-goods__item-wrapper
          .popup-goods__item-price 23 932 ₽
          .popup-goods__item-price-old 277 €
        .popup-goods__wrapper
          .popup-goods__item-country Китай
          .popup-goods__item-production Реплика
        .popup-goods__wrapper
          .popup-goods__counter
            +counter({val: 1})
          button.popup-goods__btn
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
              rect(x='4' y='7' width='16' height='13' rx='4' stroke='white' stroke-width='1.5')
              path(d='M16 10V6C16 3.79086 14.2091 2 12 2V2C9.79086 2 8 3.79086 8 6L8 10' stroke='white' stroke-width='1.5' stroke-linecap='round')
            span в корзину
